.form-main {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100vh; */
    height: 10vh;
    margin-top: 15px;
}

.form-input {
    /*width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ddd;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background: #ddd;;
    border-radius: 40px;
    color: black;*/
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-error-msg {
    color: red;
}

.form-btn-main {
}

.form-input-submit {
    background: green;
    color: white;
    border-radius: 40px;
    height: 36px;
    cursor: pointer;
    margin: 5px;
}

.btn-primary {
    margin: 8px 8px 0 0;
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    width: max-content;
    margin-bottom: 15px;
}

.title-heading {
    font-weight: bold;
    border: 0px;
    font-size: 18px;
    padding-left: 0px;
    text-transform: capitalize;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-img {
    width: 70px;
}


.tablelist-main {
    /*width: 150vh;*/
    height: 78vh;
    overflow: auto;
    padding: 4px;
}
